.DS_Store
*.npy
*.ckpt

vis/

exp/
vis*/
build/
dist/
*.egg-info/

obj_lib/
*.mp4
object_render/**/*.png
checkpoints/
assets/
*.pth
*.pt
__pycache__/
*.ipynb



*.sh
*.gin

!NeRF_LiDAR/zipnerf/scripts/run/train_nusc.sh
!NeRF_LiDAR/zipnerf/scripts/run/render_video_nusc.sh
!NeRF_LiDAR/zipnerf/configs/nuscenes_multi.gin
!NeRF_LiDAR/zipnerf/configs/nuscenes_single.gin


NeRF_Lidar_code/nerflidar_related_scripts/
object_render/
Visualization/
Neural_sim/
